allure-pytest
allure-pytest-logger
allure-python-commons
altair
argon2-cffi
argon2-cffi-bindings
asttokens
async-generator
atomicwrites
attrs
Automat
backcall
bcrypt
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
constantly
cryptography
cssselect
cx-Oracle
debugpy
decorator
deepdiff
defusedxml
entrypoints
et-xmlfile
execnet
executing
fastjsonschema
filelock
gitdb
GitPython
glob2
greenlet
h11
hyperlink
idna
importlib-metadata
incremental
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
itemadapter
itemloaders
jedi
Jinja2
jmespath
jproperties
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
lxml
Mako
MarkupSafe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
openpyxl
ordered-set
outcome
packaging
pandas
pandocfilters
paramiko
parse
parse-type
parsel
parso
pickleshare
Pillow
pluggy
ply
prometheus-client
prompt-toolkit
Protego
protobuf
psutil
pure-eval
py
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
PyDispatcher
Pygments
Pympler
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
PySocks
pytest
pytest-bdd
pytest-forked
pytest-html
pytest-metadata
pytest-xdist
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
queuelib
requests
requests-file
Scrapy
selenium
semver
Send2Trash
service-identity
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
tblib
tenacity
terminado
tinycss2
tldextract
toolz
tornado
traitlets
trio
trio-websocket
Twisted
typing-extensions
tzdata
tzlocal
urllib3
validators
w3lib
watchdog
wcwidth
webdriver-manager
webencodings
widgetsnbextension
wsproto
XlsxWriter
zipp
zope.interface
